<%= content_tag :tr, 'data-id' => banner.id, :class => 'admin-banner-set-item' do %>
  <td>
    <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
  </td>
  <td width="200">
    <%= link_to banner.banner.url(:banner), :target => :blank do %>
      <%= image_tag banner.banner.url(:tiny) %>
    <% end %>
  </td>
  <td><%= banner.start_date.try(:strftime, '%m/%d/%Y') %></td>
  <td class="table-actions">
    <%= banner.end_date.try(:strftime, '%m/%d/%Y') %>
    <% if banner.expired? %>
      <span class="label">Expired</span>
    <% end %>
  </td>
  <% if !banner.owner.has_rich_text %>
    <td>
      <% if banner.link_to.present? %>
        <%= link_to banner.link_to, banner.link_to, :target => :blank %>
      <% else %>
        n/a
      <% end %>
    </td>
  <% end %>
  <td class="table-actions">
    <%= link_to 'Edit', edit_admin_banner_path(banner), :class => 'admin-banner-set-item-edit btn btn-sm btn-default' %>
    <%= link_to 'Delete', admin_banner_path(banner), :class => 'admin-banner-set-item-delete btn btn-sm btn-danger' %>
  </td>
<% end %>
