<%= form_for @banner, :url => path, :builder => TbCore::FormBuilder, :html => { :class => 'admin-banner-form' } do |f| %>

  <%= tb_form_errors(f.object) %>

    <div class="form-group">
      <%= f.label :banner, 'Banner', :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :banner %>
      </div>
    </div>
    <% if @banner.owner.has_rich_text? %>
       <div class="form-group">
        <%= f.label :rich_text, 'Rich Text', :class => 'control-label' %>
        <div class="controls">
          <%= f.text_area :rich_text, :id => 'admin-banner-rich-text', :class => 'admin-banner-rich-text' %>
        </div>
      </div>
    <% else %>
      <div class="form-group">
        <%= f.label :link_to, 'Link to', :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :link_to %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :link_target, 'Open Link in', :class => 'control-label' %>
        <div class="controls">
          <%= f.select :link_target, options_for_select([
            ['Same Window', '_self'],
            ['New Window', '_blank']
          ], @banner.link_target) %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :title, 'Image Title', :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :title %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :alt, 'Alt Text', :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :alt %>
        </div>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :start_date, 'Start Date', :class => 'control-label' %>
      <div class="controls controls-banner-date-selects">
        <%= f.date_select :start_date, :start_year => Time.zone.today.year %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :end_date, 'End Date', :class => 'control-label' %>
      <div class="controls controls-banner-date-selects">
        <%= f.date_select :end_date, :include_blank => true, :start_year => Time.zone.today.year %>
        <span class="help-block">Leave blank to never expire</span>
      </div>
    </div>

  <div class="progress progress-striped active admin-banner-upload-progress">
    <div class="bar"></div>
  </div>

<% end %>
