<%= content_tag :tr, :class => 'admin-banner-sets-list-item', 'data-id' => banner_set.id  do %>
  <td><%= banner_set.name %></td>
  <td class="table-actions">
    <%= link_to 'Manage Banners', admin_banner_set_path(banner_set), :class => 'btn btn-default btn-sm' %>
    <%= link_to 'Edit Configuration', edit_admin_banner_set_path(banner_set), :class => 'btn btn-default btn-sm admin-banner-set-edit' %>
    <%= link_to 'Delete', admin_banner_set_path(banner_set), :class => 'btn btn-default btn-sm btn-danger admin-banner-set-delete' %>
  </td>
  </span>
<% end %>
