<%= form_for @banner_set, :url => path, :html => {:class => 'form-horizontal admin-banner-set-form'} do |f| %>

  <%= tb_form_errors(f.object) %>

  <fieldset>
    <div class="form-group">
      <%= f.label :name, "Name",:class => "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.text_field :name, :class=>'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :width, "Width", :class => "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.text_field :width, :class=>'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :height, "Height", :class => "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.text_field :height, :class=>'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :cropped, "Cropped", :class => "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.check_box :cropped %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :has_rich_text, "Allow Rich Text", :class => "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.check_box :has_rich_text %>
      </div>
    </div>
  </fieldset>

<% end %>
