<% content_for :data_controls do %>
  <%= link_to "New Banner Set", new_admin_banner_set_path, :class => "btn btn-primary spud_banner_sets_add_new", :title => "New Banner Set" %>
<% end %>

<% content_for :detail do %>
  <div class="table-responsive">
    <table class="table table-striped table-hover admin-banner-sets-list">
      <%= render :partial => 'banner_set', :collection => @banner_sets %>
    </table>
  </div>
  <script>
    $(document).ready(tb.banner_sets.init);
  </script>
<% end %>
