<% content_for :data_controls do %>
  <%= link_to 'Upload Banner', new_admin_banner_set_banner_path(@banner_set), :class => 'btn btn-primary admin-banner-set-item-add' %>
<% end %>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>&nbsp</th>
        <th>Banner</th>
        <th>Start Date</th>
        <th>End Date</th>
        <% if !@banner_set.has_rich_text %>
          <th>Links to</th>
        <% end %>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody class="admin-banner-set-items-container">
      <%= render :partial => 'admin/banners/banner', :collection => @banner_set.banners %>
    </tbody>
  </table>
</div>

<script>
  $(document).ready(tb.banners.init);
</script>
