// Banner Management
.admin-banner-set-items-container{

}
.admin-banner-set-item .glyphicon-sort{
  cursor: move;
}
.admin-banner-set-item.ui-sortable-helper{
  width: 940px;
  display: block;
}
.admin-banner-set-item img{
  display: block;
}
tr.banner-dragging {
  display: block;
  width: 300px;
  height: 100px;
}

// Banner Form
.admin-banner-upload-progress{
  display: none;
}
.controls-banner-date-selects{
  select{
    width: 100px;
  }
}
